#Node Modules

FrontEnd/node_modules/
Backend/node_modules/

#Logs
Logs
*.Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#ENV
FrontEnd/.env
FrontEnd/.env.local
FrontEnd/.env.*.local

Backend/.env
Backend/.env.local
Backend/.env.*.local

#Build output
FrontEnd/dist/
Backend/dist/


